@font-face {
  font-family: "BMW Type Web Light All";
  src: url("../font/e9de4f4d373ef5c6d9cf52490816ff5d.eot"); /* IE9*/
  src: url("../font/e9de4f4d373ef5c6d9cf52490816ff5d.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../font/e9de4f4d373ef5c6d9cf52490816ff5d.woff2")
      format("woff2"),
    /* chrome、firefox */ url("../font/e9de4f4d373ef5c6d9cf52490816ff5d.woff")
      format("woff"),
    /* chrome、firefox */ url("../font/e9de4f4d373ef5c6d9cf52490816ff5d.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../font/e9de4f4d373ef5c6d9cf52490816ff5d.svg#BMW Type Web Light All")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "BMWTypeNext Pro Regular";
  src: url("../font/ac95f91c55cc591ecf37a4d136ff8031.eot"); /* IE9*/
  src: url("../font/ac95f91c55cc591ecf37a4d136ff8031.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../font/ac95f91c55cc591ecf37a4d136ff8031.woff2")
      format("woff2"),
    /* chrome、firefox */ url("../font/ac95f91c55cc591ecf37a4d136ff8031.woff")
      format("woff"),
    /* chrome、firefox */ url("../font/ac95f91c55cc591ecf37a4d136ff8031.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../font/ac95f91c55cc591ecf37a4d136ff8031.svg#BMWTypeNext Pro Regular")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "BMW Type Web Bold All";
  src: url("../font/18ef7d48e5aad7f01745ddab09c29bf7.eot"); /* IE9*/
  src: url("../font/18ef7d48e5aad7f01745ddab09c29bf7.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../font/18ef7d48e5aad7f01745ddab09c29bf7.woff2")
      format("woff2"),
    /* chrome、firefox */ url("../font/18ef7d48e5aad7f01745ddab09c29bf7.woff")
      format("woff"),
    /* chrome、firefox */ url("../font/18ef7d48e5aad7f01745ddab09c29bf7.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../font/18ef7d48e5aad7f01745ddab09c29bf7.svg#BMW Type Web Bold All")
      format("svg"); /* iOS 4.1- */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BMW Type Web Light All";
}

body {
  background: linear-gradient(
    90deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(224, 224, 224, 1) 100%
  );
  width: 100%;
}

h1 {
  font-family: "BMW Type Web light All";
  font-size: 50px;
}

h2 {
  font-family: "BMW Type Web light All";
  font-size: 24px;
}

h3 {
  font-family: "BMW Type Web Bold All";
  font-size: 18px;
}

button {
  font-family: "BMW Type Web Bold All";
  font-size: 18px;
  color: #fff;
}

/* Header section classes */

#header {
  width: 100%;
  z-index: 5;
  position: absolute;
}

#menu_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.logo {
  background-color: #fff;
  width: 100px;
  box-shadow: 2px 2px 4px #8c8c8c;
}
.logo img {
  width: 100%;
  padding: 10px;
}

nav {
  width: 1100px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

nav ul {
  display: flex;
  position: relative;
}

nav ul li {
  position: relative;
  display: flex;
  align-items: center;
  height: 90px;
  list-style: none;
  padding: 10px;
  transition: 0.8s;
  border-bottom: 3px solid transparent;
}

nav ul li:first-child {
  margin-left: 10px;
}

nav ul li:hover {
  border-bottom: 3px solid #1c69d4;
}

nav ul li a {
  position: relative;
  height: 91px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  font-family: "BMW Type Web Bold All";
  color: #fff;
  z-index: 1;
  text-decoration: none;
  transition: 0.1s;
}

nav ul li a.hover {
  color: #1c69d4;
}

.icon_menu {
  width: 250px;
  right: 0;
  display: flex;
  justify-content: end;
}

.icon_menu ul li a img {
  width: 25px;
}

.icon_menu ul li:last-child {
  padding-right: 0;
}

.ionicon {
  color: #fff;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3d ease-in-out;
  transition: all 0.3d ease-in-out;
  background-color: #fff;
}

.mobile_menu {
  position: absolute;
  right: 1.5rem;
  top: 75px;
  width: 300px;
  height: 0;
  display: none;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mobile_menu.active {
  height: 205px;
}

.mobile_menu ul li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.mobile_menu ul li:last-child {
  margin-bottom: 10px;
}

.mobile_menu ul li a {
  font-family: "BMW Type Web Bold All";
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.mobile_menu ul li a:hover {
  color: #1c69d4;
}

.mobile_menu_search {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.mobile_menu_search input {
  width: 90%;
  padding: 10px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .desk_menu {
    display: none;
  }

  .menu_container {
    width: 100%;
  }

  nav {
    width: 100%;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.2);
  }

  .icon_menu {
    margin-right: 20px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .mobile_menu_search {
    display: none;
  }

  .mobile_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .mobile_icon {
    display: none;
  }

  .mobile_menu {
    width: 95%;
    right: 11px;
  }

  .mobile_menu.active {
    height: 270px;
  }

  .mobile_menu_search {
    display: block;
  }
}

/* Hero section classes */

.hero {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.hero_container {
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.hero_main {
  width: 100%;
  background-image: url(../images/bmw_main.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 720px;
}

.hero_txt {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  top: 150px;
  left: 100px;
  max-width: 50%;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

.hero_txt h1 {
  width: 100%;
}

.hero_txt p {
  line-height: 1.3em;
}

.hero_txt img {
  width: 80px;
  height: 44px;
}

.hero_txt button {
  width: 300px;
  height: 50px;
  background-color: #1c69d4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 180px;
  min-height: 3.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  border: 0;
}

.hero_txt button:hover {
  background-color: #0653b6;
}

.hero_child {
  width: 50%;
  height: auto;
  position: relative;
}

.border_left {
  border-top: 4px solid #fff;
  border-right: 2px solid #fff;
}

.border_right {
  border-top: 4px solid #fff;
  border-left: 2px solid #fff;
}

.hero_child img {
  display: block;
  width: 100%;
  height: auto;
}

.hero_child_txt {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

.hero_child_txt img {
  width: 40px;
}

.hero_child_txt button {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 180px;
  min-height: 3.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  background-color: transparent;
  border: 2px solid #1c69d4;
}

.hero_child_txt button:hover {
  background-color: rgba(6, 83, 182, 0.5);
}

@media (max-width: 992px) {
  .hero_main {
    background-image: url(../images/bmw_main_mobile.jpg);
    position: relative;
  }

  .hero_txt {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    top: 450px;
    left: 0;
    padding: 20px;
    color: #fff;
    font-size: 20px;
  }
  .hero_txt p {
    width: 50%;
  }

  .hero_child {
    width: 100%;
    position: relative;
    margin-top: 5px;
  }

  .hero_child_txt {
    top: 180px;
  }

  .border_left {
    border: 0;
  }

  .border_right {
    border: 0;
  }
}

@media (max-width: 576px) {
  .hero_main {
    height: 500px;
  }

  .hero_txt {
    gap: 10px;
    top: 370px;
    left: 0;
    padding: 10px;
    color: #fff;
    font-size: 17px;
  }
  .hero_txt p {
    width: 70%;
  }

  .hero_txt h1 {
    font-size: 35px;
  }

  .hero_txt button {
    display: none;
  }

  .hero_child_txt {
    position: absolute;
    top: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 17px;
  }

  .hero_child_txt img {
    width: 30px;
  }

  .hero_child_txt button {
    display: none;
  }
}

/* Cars section classes */

.cars {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.cars_tab {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

.cars_tab ul {
  display: flex;
  align-items: last baseline;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #8c8c8c;
  margin: 10px 0;
}

.cars_tab ul li {
  list-style: none;
}

.cars_tab ul li button {
  width: 80px;
  height: 40px;
  color: #000;
  font-size: 15px;
  border: 0;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.cars_tab ul li button:hover {
  background-color: #1c69d4;
  color: #fff;
}

.cars_tab ul li button.active {
  background-color: #8c8c8c;
  color: #fff;
}

.cars_select {
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  justify-content: center;
}
.cars_select label {
  margin-right: 10px;
  font-size: 18px;
  font-family: "BMW Type Web Bold All";
  color: #8c8c8c;
}

.cars_models_tablet {
  display: none;
}

.cars_models_mobile {
  display: none;
}

.cars_box {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
}

.cars_info {
  max-width: 320px;
}

.cars_info_img {
  margin: 0 20px;
  height: 20px;
}

.cars_info_img img {
  height: 10px;
}

.cars_info_txt {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 18px;
}

.cars_info_txt h3 span {
  font-family: "BMW Type Web Bold All";
  font-size: 15px;
  color: #1c69d4;
}

.cars_info_link {
  margin: 10px 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.cars_info_link a {
  font-family: "BMW Type Web Bold All";
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.cars_info_link a:hover {
  color: #1c69d4;
}

.car_options {
  width: 100%;
  background: #f2f2f2;
}

.car_options_container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

.car_options_titel {
  padding: 20px 20px 20px 0;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  border-bottom: 2px solid #1c69d4;
}

.car_options_titel h2 {
  color: #1c69d4;
}

.car_options_konfig {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-bottom: 2px solid #1c69d4;
}

.car_options_konfig img {
  width: 45px;
}

.car_options_konfig button {
  width: 200px;
  height: 40px;
  background-color: #1c69d4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 180px;
  min-height: 3.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  border: 0;
}

.car_options_konfig button:hover {
  background-color: #0653b6;
}

.car_options_box {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-bottom: 2px solid #1c69d4;
}

.car_options_box img {
  width: 45px;
}

.car_options_box button {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 180px;
  min-height: 3.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  background-color: transparent;
  border: 2px solid #1c69d4;
  color: #000;
}

.car_options_box button:hover {
  background-color: rgba(6, 83, 182, 0.5);
}

@media (max-width: 992px) {
  .cars_tab {
    display: none;
  }

  .cars_models_tablet {
    display: block;
    margin-top: 30px;
  }

  .cars_box {
    justify-content: center;
  }

  .cars_info {
    max-width: 50%;
  }

  .car_options_container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .car_options_titel {
    width: 100%;
    padding: 20px 0 0 20px;
    border: 0;
    gap: 2px;
  }

  .car_options_konfig {
    width: 32%;
  }

  .car_options_box {
    width: 32.5%;
  }
}

@media (max-width: 576px) {
  .cars_models_tablet {
    display: none;
  }

  .cars_models_mobile {
    display: block;
    margin-top: 30px;
  }

  .cars_info {
    max-width: 100%;
  }

  .cars_info_link {
    display: none;
  }

  .car_options_container {
    border-bottom: 2px solid #1c69d4;
    gap: 0;
  }

  .car_options_konfig {
    width: 100%;
    border: 0;
  }

  .car_options_box {
    width: 100%;
    border: 0;
  }
}

/* Blog section classes */

.blog {
  width: 100%;
  position: absolute;
}

.blog_container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
}

.blog_box {
  width: 49%;
  padding: 20px;
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.blog_box_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  font-size: 18px;
}

.blog_box_txt h1 {
  font-size: 30px;
}

.blog_box_txt a {
  font-family: "BMW Type Web Bold All";
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.blog_box_txt a:hover {
  color: #1c69d4;
}

@media (max-width: 992px) {
  .blog_container {
    justify-content: center;
  }
  .blog_box {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .blog_box {
    width: 92%;
  }

  .blog_box_txt a {
    display: none;
  }
}

/* Footer section classes */

.footer {
  width: 100%;
  position: absolute;

  z-index: 2;
}

.footer_container {
  margin: 0 auto;
  max-width: 1280px;
}

.footer_container a {
  font-family: "BMW Type Web Bold All";
  color: #1c69d4;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer_container a:hover {
  color: #000;
}

.footer_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}

.footer_more {
  display: none;
}

.footer_end {
  width: 100%;
  background: #f2f2f2;
}

.footer_end_container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_end_container a {
  /*font-family: "BMW Type Web Bold All";*/
  font-size: 16px;
  color: #8c8c8c;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer_end_container a:hover {
  color: #0653b6;
}

.footer_social {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  padding: 50px;
  align-self: flex-end;
}

.footer_social span {
  width: 100%;
  color: #8c8c8c;
  font-size: 23px;
  padding-bottom: 30px;
}

.footer_social ul {
  display: flex;
  position: relative;
  align-items: center;
  gap: 40px;
}

.footer_social ul li {
  position: relative;
  list-style: none;
}

.footer_social ul li svg {
  width: 30px;
  fill: #8c8c8c;
  transition: fill 0.3s ease-in-out;
  cursor: pointer;
}

.footer_social ul li svg:hover {
  fill: #0653b6;
}

.footer_links {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.footer_links_box {
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid rgba(140, 140, 140, 0.3);
  gap: 10px;
}

.footer_links_box span {
  font-size: 23px;
  color: #8c8c8c;
  padding-bottom: 30px;
}

.footer_links_box ul {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  gap: 10px;
}

.footer_links_box ul li {
  position: relative;
  list-style: none;
}

.footer_menu {
  width: 100%;
  background: #fff;
}

.footer_menu_container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 70px 50px;
}

.footer_menu_container span {
  color: #8c8c8c;
  font-size: 18px;
}

.footer_menu_container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
  gap: 10px;
}

.footer_menu_container li {
  position: relative;
  list-style: none;
}

.footer_menu_container li a {
  font-family: "BMW Type Web Bold All";
  color: #1c69d4;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer_menu_container li a:hover {
  color: #000;
}

@media (max-width: 992px) {
  .footer_info {
    padding: 0 50px 50px 50px;
  }

  .footer_menu_container {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 30px 50px 70px 50px;
  }
}

@media (max-width: 576px) {
  .footer_info {
    padding: 0 20px 20px 20px;
    font-size: 14px;
  }

  .footer_mobile {
    display: none;
  }

  .footer_more {
    display: block;
  }

  .footer_social {
    align-self: center;
    padding: 50px 50px 0 50px;
  }

  .footer_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer_links_box {
    width: 80%;
  }

  .footer_menu_container ul {
    justify-content: center;
  }
}
